{{ $summary:= .Get 0 }} {{ $date := .Get 1 }}{{ $content := .Get 2 }}{{ $content2 := .Get 3 }}{{ $content3 := .Get 4 }}{{ $content4 := .Get 5 }}{{ $content5 := .Get 6 }}{{ $content6 := .Get 7 }} {{ $color:= .Get 8 }}

<details>
    <summary style="color: {{$color}}" ;><b>{{$summary}} ____________________________ {{$date}}</b></summary>
    <ul>{{$content}}</ul>
    <ul>{{$content2}}</ul>
    <ul>{{$content3}}</ul>
    <ul>{{$content4}}</ul>
    <ul>{{$content5}}</ul>
    <ul>{{$content6}}</ul>
</details>